<div class="p-3">
  <div class="pb-6">
    <h1 class="text-2xl font-bold">{{board()?.name}}</h1>
  </div>
  <div class="flex flex-row gap-4">
    @for (column of board()?.columns; track column.id) {
    <retro-column>
      <div>
        <h1 class="p-3 text-xl font-semibold">{{column.name}}</h1>
      </div>

      @if (newCard()?.columnId == column.id)
      {
        <retro-card>
          <app-card-create [boardId]="board()!.id" [columnId]="column.id" (onCreate)="handleCardCreated($event)"></app-card-create>
        </retro-card>
      }
      @else
      {
        <retro-button iconName="add" title="New Card" (onClick)="showNewCardInColumn(column.id)"></retro-button>
      }

      @for (card of getCardsForColumn(column.id); track card.id)
      {
      <retro-card>
        {{card.body}}
      </retro-card>
      }
    </retro-column>
    }
        <retro-button iconName="add"></retro-button>
  </div>
</div>
