<div class="p-3">
  <div class="pb-6">
    <h1 class="text-2xl font-bold">{{board()?.name}}</h1>
  </div>
  <div class="flex flex-row gap-4">
    @for (column of board()?.columns; track column.id) {
    <retro-column>
      <div>
        <h1 class="p-3 text-xl font-semibold">{{column.name}}</h1>
      </div>

      @if (newCard()?.columnId == column.id)
      {
        <retro-card>
          <div class="flex flex-col gap-1 h-full">
            <retro-textarea-input class="flex-grow" placeholder="Type here"></retro-textarea-input>
            <div class="flex flex-row gap-1 w-hull">
              <retro-button class="basis-1/2" iconName="save" title="save"></retro-button>
              <retro-button class="basis-1/2" iconName="close" title="cancel"></retro-button>
            </div>
          </div>
        </retro-card>
      }
      @else
      {
        <retro-button iconName="add" title="New Card" (onClick)="showNewCardInColumn(column.id)"></retro-button>
      }

      @for (card of getCardsForColumn(column.id); track card.id)
      {
      <retro-card>
        {{card.body}}
      </retro-card>
      }
    </retro-column>
    }
        <retro-button iconName="add"></retro-button>
  </div>
</div>
